
html, body {
  height: 100%; }

body {
  background: gray;
  margin: 0;
  padding: 0;
  font-family: PragmaticaLightC; }
  body.admin-bar #header {
    top: 32px; }

.container {
  margin: auto; }
  @media only screen and (max-width: 991px) {
    .container {
      width: auto;
      padding-left: 15px;
      padding-right: 15px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1020px; } }

.aligned .left {
  float: left; }

.aligned .right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

div.wpcf7-response-output {
  margin: 15px 0 !important; }

#header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; }
  @media only screen and (max-width: 767px) {
    #header {
      height: 55px;
      background-color: white; }
      #header .aligned .left, #header .aligned .right {
        float: none; } }
  #header .logo {
    width: 250px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 20px; }
    @media only screen and (max-width: 767px) {
      #header .logo {
        width: 150px; } }
  #header .mobile-menu {
    display: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 18px; }
    #header .mobile-menu li {
      list-style: none;
      display: inline-block;
      margin: 0 15px; }
      #header .mobile-menu li a {
        color: #444444;
        text-decoration: none; }
  #header.active {
    height: 130px;
    border-bottom: 1px solid #444444;
    overflow: hidden; }
    #header.active .mobile-menu {
      display: block; }
      #header.active .mobile-menu hr {
        margin-top: 10px;
        margin-bottom: 10px; }
  #header .header-top-links ul, #header .header-menu ul {
    padding: 0;
    margin: 0; }
    #header .header-top-links ul li, #header .header-menu ul li {
      list-style: none;
      display: inline-block;
      float: none; }
      #header .header-top-links ul li a, #header .header-menu ul li a {
        color: #444444;
        text-decoration: none; }
  #header .header-top-links {
    margin-top: 15px;
    text-align: right;
    height: 30px;
    overflow: hidden;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1; }
    @media only screen and (max-width: 767px) {
      #header .header-top-links {
        position: absolute;
        right: 50px;
        top: 0; }
        #header .header-top-links .languages {
          display: none; } }
    #header .header-top-links ul {
      display: inline-block;
      margin-left: 15px; }
      #header .header-top-links ul.social-links li {
        margin-left: 5px; }
        #header .header-top-links ul.social-links li a {
          display: block;
          width: 25px;
          height: 25px;
          border: 1px solid #444444;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          text-align: center;
          line-height: 25px;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -ms-transition: all 0.3s;
          transition: all 0.3s; }
          #header .header-top-links ul.social-links li a:hover.icon-facebook {
            color: #3c5a99;
            border: 1px solid #3c5a99; }
          #header .header-top-links ul.social-links li a:hover.icon-instagram {
            color: #000000;
            border: 1px solid #000000; }
          #header .header-top-links ul.social-links li a:hover.icon-twitter {
            color: #28aae1;
            border: 1px solid #28aae1; }
      #header .header-top-links ul.languages li {
        margin-left: 15px; }
        #header .header-top-links ul.languages li a {
          display: block;
          line-height: 25px;
          font-size: 18px;
          text-transform: uppercase; }
  #header .header-menu {
    margin-top: 25px;
    text-align: right;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
    #header .header-menu.active ul li {
      opacity: 1 !important;
      visibility: visible !important; }
    @media only screen and (max-width: 767px) {
      #header .header-menu {
        position: absolute;
        right: 15px;
        top: 0;
        margin-top: 5px; } }
    #header .header-menu ul li {
      margin-left: 15px;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      -ms-transition: all 0.6s;
      transition: all 0.6s; }
      #header .header-menu ul li:not(:last-child) {
        opacity: 0;
        visibility: hidden; }
      #header .header-menu ul li:last-child {
        cursor: pointer; }
        @media only screen and (max-width: 767px) {
          #header .header-menu ul li:last-child {
            font-size: 0; } }
        #header .header-menu ul li:last-child:before {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          /*background-image: url(img/menu-icon.png);*/
          background-repeat: no-repeat;
          background-position: 0px -12px;
          float: left;
          margin-right: 5px;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s; }
    @media only screen and (min-width: 768px) {
      #header .header-menu ul:hover li {
        opacity: 1;
        visibility: visible; }
        #header .header-menu ul:hover li:last-child:before {
          background-position: 0px 2px; } }
  #header.minimized {
    height: 55px;
    background-color: white; }
    #header.minimized .logo {
      width: 145px;
      margin-top: 15px; }
    #header.minimized .header-top-links {
      height: 0;
      margin-top: 0;
      opacity: 0; }
    #header.minimized .header-menu {
      margin-top: 20px; }

.a {
  height: 100%; }

#footer {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    #footer {
      padding-top: 0px; } }
  #footer .container {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 30px; }
    @media only screen and (max-width: 767px) {
      #footer .container img {
        width: 200px; } }
  #footer .copyright {
    color: #fff;
    opacity: 0.8;
    box-sizing: border-box;
    margin-top: 15px; }

.nav-menu{
  position: relative;
}
.nav-menu div{
  position: absolute;
  width: 15px;
  height: 2px;
  background: black;
}

.div-first{
  top: 3px;
}

.div-second{
  top: 8px;
}

.div-third{
  top: 13px
}

.nav-menu .icon-plus{
  display: none;
}

/*MY CSS*/
.conitainer-fluid{
  height: 300vh;
}



/*SLIDER*/

#main-slider {
  width: 100%;
  height: inherit;
}
#main-slider .main-slider {
  width: 100%;
  height: 100%;
  position: relative; 
}
#main-slider .main-slider .slick-list {
  height: inherit; 
}
#main-slider .main-slider .slick-list .slick-track {
  height: inherit; 
}
#main-slider .main-slider .slick-list .slick-track .slick-slide {
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; 
}
#main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption {
  color: #ffffff;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translatYe(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  text-align: center; 
}
@media only screen and (max-width: 767px) {
  #main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption {
    font-size: 26px;
    padding-left: 15px;
    padding-right: 15px; 
  } 
}
#main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption p {
  margin: 0;
  margin-bottom: 15px; 
}
#main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top:before, #main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top:after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 2px;
  background: #fff;
  vertical-align: middle; 
}
@media only screen and (max-width: 767px) {
  #main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top {
    margin-bottom: 15px; 
  } 
}
#main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top span {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px; 
}
#main-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-bottom {
  height: 2px;
  width: 450px;
  max-width: 100%;
  background: #fff;
  margin: auto; 
}
#main-slider .main-slider .slick-arrow {
  width: 50px !important;
  height: 50px !important;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translatYe(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer; 
}
#main-slider .main-slider .slick-arrow.icon-prev {
  left: 50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); 
}
#main-slider .main-slider .slick-arrow.icon-next {
  right: 50px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); 
}
#main-slider .main-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 0; 
}
#main-slider .main-slider .slick-dots li {
  display: inline-block;
  float: none;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  margin: 0 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; 
}
#main-slider .main-slider .slick-dots li button {
  display: none; 
}
#main-slider .main-slider .slick-dots li:hover, #main-slider .main-slider .slick-dots li.slick-active {
  background: #000; 
}


/*ABOUT US*/
#about-us {
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
#about-us .about-company {
  padding-top: 150px;
  max-width: 650px;
  padding-bottom: 30px; 
}
@media only screen and (max-width: 767px) {
  #about-us .about-company {
    padding-top: 50px; 
  } 
}
#about-us .about-company > div {
  font-size: 18px;
  text-align: center;
  color: #000;
  line-height: 22px;
  margin: 0 auto;
  width: 98%;
  padding-top: 38px; 
}
#about-us .about-company > div .counts {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  margin-top: 40px; 
}
#about-us .about-company > div .counts li {
  width: 50%;
  list-style: none;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center; 
}
@media only screen and (max-width: 767px) {
  #about-us .about-company > div .counts li img {
    width: 60px; 
  } 
}
#about-us .about-company > div .counts li h2, #about-us .about-company > div .counts li h3 {
  font-weight: normal;
  margin: 0; 
}
#about-us .about-company > div .counts li h2 {
  font-family: Rodeo95;
  font-size: 60px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px; 
}
@media only screen and (max-width: 767px) {
  #about-us .about-company > div .counts li h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px; 
  } 
}
#about-us .about-company > h2 {
  color: #333333;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #333333;
  padding-top: 20px;
  margin: 0 auto;
  font-weight: normal; 
}
#about-us .about-company > h2:after {
  content: "";
  display: block;
  border-top: 1px solid #333333;
  max-width: 250px;
  margin: auto;
  margin-top: 15px; 
}

/*SERVICES*/
#services {
  min-height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
@media only screen and (max-width: 767px) {
  #services {
    background-position: top center; 
  } 
}
#services .services-description {
  float: right;
  max-width: 680px;
  width: 100%;
  padding-top: 135px;
  color: #393838; 
}
#services .services-description > h2 {
  font-size: 97px;
  text-transform: uppercase;
  padding-bottom: 45px;
  font-weight: normal;
  margin: 0; 
}
@media only screen and (max-width: 767px) {
  #services .services-description > h2 {
    font-size: 40px; 
  } 
}
#services .services-description > div {
  text-align: center;
  line-height: 22px; 
}
#services .services-description > div .services-border {
  width: 35%;
  margin: 0 auto;
  height: 1px;
  background: #393838;
  margin-top: 23px; 
}


/*SERVICES SLIDER*/
#services-slider {
  width: 100%;
  height: inherit; 
}
#services-slider .main-slider {
  width: 100%;
  height: 100%;
  position: relative; 
}
#services-slider .main-slider .slick-list {
  height: inherit; 
}
#services-slider .main-slider .slick-list .slick-track {
  height: inherit; 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide {
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption {
  color: #ffffff;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px; 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption p {
  margin: 0;
  margin-bottom: 15px; 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption p:first-child {
  font-size: 60px; 
}
@media only screen and (max-width: 767px) {
  #services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption p:first-child {
    font-size: 26px; 
  } 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption p:last-child {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 15px; 
}
@media only screen and (max-width: 767px) {
  #services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption p:last-child {
    font-size: 16px;
    line-height: 25px; 
  } 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top {
  margin-bottom: 15px; 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top:before, #services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top:after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 2px;
  background: #fff;
  vertical-align: middle; 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-top span {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px; 
}
#services-slider .main-slider .slick-list .slick-track .slick-slide .slide-caption .border-bottom {
  height: 2px;
  width: 450px;
  background: #fff;
  margin: auto; 
}
#services-slider .main-slider .slick-arrow {
  width: 50px;
  height: 50px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translatYe(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer; 
}
#services-slider .main-slider .slick-arrow.icon-prev {
  left: 50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); 
}
#services-slider .main-slider .slick-arrow.icon-next {
  right: 50px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); 
}
#services-slider .main-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /*padding: 0 15px; */
}
#services-slider .main-slider .slick-dots li {
  display: inline-block;
  float: none;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  margin: 0 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; 
}
#services-slider .main-slider .slick-dots li button {
  display: none; 
}
#services-slider .main-slider .slick-dots li:hover, #services-slider .main-slider .slick-dots li.slick-active {
  background: #000; 
}
@media only screen and (max-width: 480px) {
  #services-slider .main-slider .slick-dots li {
    margin-bottom: 5px; 
  } 
}


/*CONTACT*/
#contacts .contacts-social {
  padding-top: 50px;
  background-image: url(https://images.pexels.com/photos/1013516/pexels-photo-1013516.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; 
}
@media only screen and (max-width: 767px) {
  #contacts .contacts-social {
    padding-top: 10px;
    padding-bottom: 20px; 
  } 
}
#contacts .contacts-social .contacts-social-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; 
}
#contacts .contacts-social .contacts-social-info h2 {
  font-size: 60px;
  padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #ffffff;
  color: #ffffff;
  font-weight: normal;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px; 
}
@media only screen and (max-width: 767px) {
  #contacts .contacts-social .contacts-social-info h2 {
    font-size: 26px; 
  } 
}
#contacts .contacts-social .contacts-social-info h2:after {
  content: "";
  border-top: 1px solid #ffffff;
  display: block;
  max-width: 80%;
  margin: auto;
  margin-top: 20px; 
}
#contacts .contacts-social .contacts-social-info > div {
  font-size: 22px;
  color: #ffffff; 
}
#contacts .contacts-social .contacts-social-info > div .social-links {
  padding: 0;
  margin: 0;
  text-align: center; 
}
#contacts .contacts-social .contacts-social-info > div .social-links li {
  list-style: none;
  display: inline-block;
  float: none;
  margin: 0 15px; 
}
#contacts .contacts-social .contacts-social-info > div .social-links li a {
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; 
}
@media only screen and (max-width: 767px) {
  #contacts .contacts-social .contacts-social-info > div .social-links li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px; 
  } 
}
#contacts .contacts-social .contacts-social-info > div .social-links li a:hover.icon-facebook {
  color: #3c5a99;
  border: 1px solid #3c5a99; 
}
#contacts .contacts-social .contacts-social-info > div .social-links li a:hover.icon-instagram {
  color: #000000;
  border: 1px solid #000000; 
}
#contacts .contacts-social .contacts-social-info > div .social-links li a:hover.icon-twitter {
  color: #28aae1;
  border: 1px solid #28aae1; 
}

/*CONTACT FORM*/
#contacts .contact-form {
  padding-top: 50px;
  padding-bottom: 30px; 
}
@media only screen and (max-width: 767px) {
  #contacts .contact-form {
    padding-top: 10px; 
  } 
}
#contacts .contact-form .contacts-title {
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding-bottom: 15px;
  opacity: 0.6; 
}
@media only screen and (max-width: 767px) {
  #contacts .contact-form .contacts-title {
    font-size: 22px; 
  } 
}
#contacts .contact-form .left, #contacts .contact-form .right {
  width: 50%;
  box-sizing: border-box; 
}
@media only screen and (max-width: 767px) {
  #contacts .contact-form .left, #contacts .contact-form .right {
    width: 100%;
    padding: 0 !important; 
  } 
}
#contacts .contact-form .left {
  padding-right: 30px; 
}
@media only screen and (max-width: 767px) {
  #contacts .contact-form .left {
    margin-bottom: 30px; 
  } 
}
#contacts .contact-form .left p {
  color: #fff;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  opacity: 0.6;
  margin: 0; }
#contacts .contact-form .left p a {
  color: #ffffff; 
}
@media only screen and (max-width: 767px) {
  #contacts .contact-form .left p {
    font-size: 18px;
    line-height: 25px; 
  } 
}
#contacts .contact-form .right {
  padding-left: 30px; 
}
#contacts .contact-form .right .contact-form-fields .form-input {
  margin-bottom: 10px; 
}
#contacts .contact-form .right .contact-form-fields .form-input input {
  width: 100%;
  border: 1px solid #a8a7a7;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: PragmaticaLightC;
  -webkit-appearance: none;
  line-height: 30px; 
}
#contacts .contact-form .right .contact-form-fields .form-input textarea {
  max-width: 100%;
  height: 180px;
  max-height: 180px;
  width: 100%;
  border: 1px solid #a8a7a7;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: PragmaticaLightC;
  resize: none; 
}
#contacts .contact-form .right .contact-form-fields .form-input button {
  width: 100%;
  display: block;
  cursor: pointer;
  padding-left: 10px;
  border: 1px solid #a8a7a7;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding: 5px 0; 
}